%p#notice= notice

%p
  %b First name:
  = @employee.first_name
%p
  %b Last name:
  = @employee.last_name
%p
  %b Dni:
  = @employee.dni
%p
  %b Cellphone:
  = @employee.cellphone
%p
  %b Email:
  = @employee.email
%p
  %b Bank:
  = @employee.bank
%p
  %b Account type:
  = @employee.account_type
%p
  %b Account number:
  = @employee.account_number
%p
  %b Phone:
  = @employee.phone
%p
  %b Emergency phone:
  = @employee.emergency_phone
%p
  %b Department:
  = @employee.department

= link_to 'Edit', edit_department_employee_path(@department, @employee)
\|
= link_to 'Back', department_employees_path
