@import "bootstrap";



.signin {
    margin-top: 20vh;
}
.signup {
    margin-top: 15vh;
}

.grey{
    background-color: rgb(245, 245, 245);
    padding: 10px
}

.notifications{
    height: 80px;
}

.emptydep{
    width: 600px;
    height: 300px;
}

.image{
    background-image: url("https://www.cdc.gov/ncbddd/adhd/images/adhd-behavior-therapy-600x300.png");
    height: 300px;
    width: 600px;
}

.textimage{
    margin-top: 220px
}

td > a{
    margin-left: 5px;
}